<div layout="column" layout-padding ng-cloak>

    <br/>
    <md-content class="md-no-momentum">
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>Name</label>
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
            <input ng-model="vm.application.firstName" type="text">
            <div class="hint" ng-if="showHints">Tell us what we should call you!</div>

            <div ng-messages="vm.application.firstName.$error" ng-if="!showHints">
                <div ng-message="required">Name is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
            <input ng-model="vm.application.phone" type="text" placeholder="Phone Number">
            <div class="hint" ng-show="showHints">(###) ###-####</div>

            <div ng-messages="vm.application.phone.$error" ng-hide="showHints">
                <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
            <input ng-model="vm.application.email" type="email" placeholder="Email (required)" ng-required="true">
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <input ng-model="vm.application.address" type="text" placeholder="Address">
            <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <input ng-model="user.address2" placeholder="Address 2">
        </md-input-container>
    </md-content>
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input ng-model="user.city">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>State</label>
            <md-select ng-model="user.state">
                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                    {{state.abbrev}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Postal Code</label>
            <input name="postalCode" ng-model="user.postalCode" placeholder="12345" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.
                </div>
                <div ng-message="md-maxlength" class="my-message">
                    Don't use the long version silly...we don't need to be that specific...
                </div>
            </div>
        </md-input-container>
    </div>

    <div>
        <md-button type="submit" wz-next ng-disabled="vm.form.$invalid">Save</md-button>
        <md-button  ng-click="next()" wz-next>next</md-button>
      </div>
</div>