<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form method="post">
                <div class="form-group ">
                    <label class="control-label requiredField" for="comments">
       Comments
       <span class="asteriskField">
        *
       </span>
      </label>
                    <textarea class="form-control" ng-model="vm.application.comments" cols="40" id="comments" name="comments" placeholder="Comments" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <div>
                        <a class="btn btn-default" ng-click="cancel()">Cancel</a>
                        <button class="btn btn-primary" ng-click="previous()" wz-previous>Previous</button>
                        <button type="submit" class="btn btn-primary submit-button" wz-next ng-disabled="vm.form.$invalid">Submit Application</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>